export(abind2)
export(adjacent.dispersal)
export(DensityDependence)
export(exp.dispersal)
export(FitLattice)
export(hex.grid)
export(MakeHexLattice)
export(MakeLattice)
export(melt.SODD)
export(normal.dispersal)
export(plot.sums)
export(restart.mcmc)
export(SODModel)
import(abind)
import(compiler)
import(doRNG)
import(fields)
import(foreach)
import(gdata)
import(iterators)
import(matrixStats)
import(plyr)
import(reshape2)
import(sp)
