export(adjacent.dispersal)
export(DensityDependence)
export(exp.dispersal)
export(MakeHexLattice)
export(MakeLattice)
export(normal.dispersal)
export(SODModel)
import(compiler)
import(gdata)
import(Matrix)
import(plyr)
import(reshape2)
